body {
    margin: 0;
    background-color: rgb(141, 141, 141);
    width: 90%; 
}

header {
    display: flex;
    height: 15vh;
    position: fixed;
    top: 0; 
    align-items: center;
    background-color: gray;
    justify-content: space-between;
    width: 100%;
    z-index: 1000; 
    color: black; 
    border-bottom: 2px solid palegreen;
}
nav > a{
flex-direction: column;
text-decoration: none;

}
nav{
    display: flex;
    gap: 8px;
}

.b1 {
    flex-direction: column;
    color: rgba(255, 192, 203);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 12px;
    background: none;
    margin-right: 10px;
}

.fa-home{
    text-align: left;
    font-size: 12px;
    color:palegreen;
    padding-right: 5px;

}
.fa-user {
color: palegreen;
padding-right: 5px;
}

.fa-github{
    margin-left: 15px;
    color: black;
    font-size: 35px;
    
}
.fa-award{
color: palegreen;
padding-right: 5px;

}
.fa-address-book{
color: palegreen;
padding-right: 5px;

}
.fa-graduation-cap{
color: palegreen;
padding-right: 5px;
}
.github{
    text-decoration: none;
    text-align: center;
    flex-direction: column;
    color: black;
    font-size: 1rem;
    font-family:Georgia, 'Times New Roman', Times, serif ;

}

.S1 {
    display: flex;
    height: 75vh;
    width: 100%;
    background-color: rgba(255, 192, 203, 0.5);
    padding-top: 15vh; 
    justify-content: center;
    align-items: center; 
}
